<!DOCTYPE html>
<html lang="vi">
    <head>
        <%- include('../partials/head') %>>
        <!-- css -->
        <%- include('../partials/style') %>
        <link rel="stylesheet" href="/css/style.css" />
    </head>
    <body>
        <!-- navbar -->
        <%- include('../partials/navbar') %>
        <!-- main -->
        <main class="container-fluid">
            <div class="row my-5">
                <div class="col-sm">
                    <%- include('../partials/impcard', { amount: counter.categories.toLocaleString(), title:'Mã thiết bị BH hãng' , url:"/api/v1/categories/uploads", link:"category.xlsx" })%>
                </div>
                <div class="col-sm"><%- include('../partials/impcard',{amount: counter.products.toLocaleString(),title:"Serial BH hãng",url:"/api/v1/products/uploads",link:"product.xlsx"})%></div>
                <div class="col-sm">
                    <%- include('../partials/impcard',{amount: counter.suggestions.toLocaleString() ,title:"Danh mục đề xuất",url:"/api/v1/suggestions/uploads",link:"suggestion.xlsx"})%>
                </div>
            </div>
        </main>

        <!-- modal -->
        <%- include('../partials/modal') %>
        <!-- loader -->
        <%- include('../partials/loader') %>
        <!-- toast -->
        <div id="toast"></div>
        <%- include('../partials/footer') %>
        <!-- sctips -->
        <%- include('../partials/script') %>
    </body>
</html>
