<!DOCTYPE html>
<html lang="vi">
    <head>
        <%- include('../partials/head') %>>
        <!-- css -->
        <%- include('../partials/style') %>
        <link rel="stylesheet" href="/css/style.css" />
    </head>
    <body>
        <!-- navbar -->
        <%- include('../partials/navbar') %>
        <!-- main -->
        <main><%- include('../templates/main') %></main>

        <!-- modal -->
        <%- include('../partials/modal') %>
        <!-- loader -->
        <%- include('../partials/loader') %>
        <!-- toast -->
        <div id="toast"></div>
        <%- include('../partials/footer') %>
        <!-- sctips -->
        <%- include('../partials/script') %>
    </body>
</html>
